.competence-container {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.5s;
}

.competence-container:hover {
    transform: scale(1.02);
}

.competence-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-right: 60px;
    color: #2C3E50;
    border-bottom: 3px solid #34495E;
    padding-bottom: 10px;
    display: inline-block;
    animation: slideIn 1s forwards;
}

.competence-container select {
    font-family: 'Arial', sans-serif;
    width: 220px;
    padding: 10px 15px;
    font-size: 1.2rem;
    margin: 20px 0;
    border-radius: 15px; /* Agrandissement du rayon pour correspondre au style du bouton */
    border: none;
    color: black; /* Changement de couleur de texte pour mieux s'accorder avec le dégradé */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    appearance: none;
    cursor: pointer;
    background: white; /* Ajout du dégradé */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.competence-container select:hover {
    transform: translateY(-3px);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.competence-container select:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.competence-container select:focus {
    outline: none;
    box-shadow: 0 0 10px #E74C3C;
}
.competence-container ul {
    list-style-type: none;
    padding: 0;
}

.competence-container ul li {
    font-size: 1.3rem;
    color: #34495E;
    margin: 30px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.competence-container ul li:hover {
    transform: scale(1.03);
}

.competence-container ul li ul {
    padding-left: 20px;
}

.competence-container ul li ul li {
    font-size: 1.1rem;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .competence-container {
        max-width: 700px;
        padding: 25px;
    }

    .competence-container h1 {
        font-size: 2.2rem;
        margin-bottom: 25px;
    }

    .competence-container ul li {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .competence-container {
        max-width: 90%;
        padding: 20px;
    }

    .competence-container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .competence-container ul li {
        font-size: 1rem;
    }
}
