.experience-container {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.5s;
}

.experience-container:hover {
    transform: scale(1.02);
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eyes-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.eyes-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.oeil {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000;
    display: inline-block;
    margin: 0 20px;
}

.pupille {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: detourneRegard 2s forwards;
}

.text-after-animation {
    text-align: center;
    margin-top: 20px;
    transition: opacity 1s ease-in-out;
}

.text-after-animation p {
    opacity: 0;
    transform: translateY(30px);
    animation: slideInAndFade 1s forwards;
    animation-delay: 2.5s; /* Attendre la fin de l'animation des yeux */
}

@keyframes slideInAndFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.experience-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-right: 60px;
    color: #2C3E50;
    border-bottom: 3px solid #34495E;
    padding-bottom: 10px;
    display: inline-block;
    animation: slideIn 1s forwards;
}

.experience-container p {
    font-size: 1.3rem;
    margin: 20px;
    color: #34495E;
    position: relative;
    padding-left: 20px;
    transition: padding-left 0.3s ease;
}

.experience-container p:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #E74C3C;
    font-size: 2rem;
}

.experience-container p:hover {
    padding-left: 30px;
}

.experience-item p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-item svg {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.experience-item:hover svg {
    transform: scale(1.2);
}

.description {
    max-height: 150px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    color: #34495E;
    margin-top: 10px;
    border-left: 3px solid #E74C3C;
    animation: slideDown 0.5s forwards;
}

.experience-container div .description {
    max-height: 150px;
    transition: max-height 0.5s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        max-height: 150px;
        transform: translateY(0);
    }
}

/* Animation pour les yeux */
@keyframes detourneRegard {
    to {
        transform: translate(0%, 0%);
    }
}

.btn {
    font-family: 'Arial', sans-serif;
    background: white;
    border: none;
    color: #34495E;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 10px #E74C3C;
}



@media (max-width: 768px) {
    .experience-container {
        max-width: 700px;
        padding: 25px;
    }

    .experience-container h1 {
        font-size: 2.2rem;
        margin-bottom: 25px;
    }

    .experience-container p {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .experience-container {
        max-width: 90%;
        padding: 20px;
    }

    .experience-container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .experience-container p {
        font-size: 1rem;
        margin-bottom: 15px;
    }
}
