.formation-container {
    font-family: 'Arial', sans-serif;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background 0.5s;
}

.formation-container:hover {
    transform: scale(1.02);
}

.formation-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2C3E50;
    border-bottom: 3px solid #34495E;
    padding-bottom: 10px;
    display: inline-block;
    animation: slideIn 1s forwards;
}

.formation-container p {
    font-size: 1.3rem;
    margin: 20px;
    color: #34495E;
    position: relative;
    padding-left: 20px;
    transition: padding-left 0.3s ease;
}

.formation-container p:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #E74C3C;
    font-size: 2rem;
}

.formation-container p:hover {
    padding-left: 30px;
}

/* Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Rendu responsive pour tablettes et mobiles */

@media (max-width: 768px) {
    .formation-container {
        max-width: 700px;
        padding: 25px;
    }

    .formation-container h1 {
        font-size: 2.2rem;
        margin-bottom: 25px;
    }

    .formation-container p {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .formation-container {
        max-width: 90%;
        padding: 20px;
    }

    .formation-container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

    .formation-container p {
        font-size: 1rem;
        margin-bottom: 15px;
    }
}
