.main-header {
    background-color: #2C3E50; 
    padding: 10px 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); 
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ECF0F1;
    cursor: pointer;
    display: none; 
    outline: none;
}

.navigation {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    height: auto; 
    transition: height 0.3s ease;
}

.nav-link {
    color: #ECF0F1; 
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease; 
}

.nav-link:hover {
    background-color: #34495E; 
    text-decoration: none;
}

.navigation.open {
    height: 220px; 
}


.language-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin: 20px 0; 
}


.language-buttons button {
    padding: 5px 10px; 
    font-size: 12px; 
    border: 2px solid #333; 
    background-color: white; 
    border-radius: 15px; 
    cursor: pointer;
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.language-buttons button:hover {
    background-color: #333; 
    color: #fff; 
}

.language-buttons button:focus {
    outline: none; 
    box-shadow: 0 0 5px #666; 
}





@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .navigation {
        flex-direction: column;
        gap: 0;
        height: 0; 
    }

    .nav-link {
        text-align: center;
        padding: 10px;
    }
}