.home-container {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    transition: background 0.5s;
    align-items: center;
}

.home-container h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #2C3E50;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-30px);
    animation: slideIn 1s forwards 0.5s;
}

.home-container p {
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.6;
    max-width: 80%;
    margin: 1rem auto;
    color: #34495E;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .home-container h1 {
        font-size: 4vw;
    }

    .home-container p {
        font-size: 1.15rem;
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .home-container h1 {
        font-size: 4vw;
    }

    .home-container p {
        font-size: 1.05rem;
        max-width: 95%;
    }
}
